extends layout

block content
  h2 Results at a glance
  div(class='container')
    div(class='stats')
      - if (comp.length > 0)
        h3 Totals for #{comp}!
      - else 
        h3 Totals!
      table(class='statTable')
        each total,key in totals
          - var name = ''
          case key
            when 'SUM(auto_low)'
              -name = 'Total Low Goal Cargo Scored in Auto'
            when 'SUM(auto_high)'
              - name = 'Total High Goal Cargo Scored in Auto'
            when 'SUM(tele_op_low)'
              - name = 'Total Low Goal Cargo Scored'
            when 'SUM(tele_op_high)'
              - name = 'Total High Goal Cargo Scored'
            when 'SUM(hang_1)'
              - name = 'Total Hang Level 1'
            when 'SUM(hang_2)'
              - name = 'Total Hang Level 2'
            when 'SUM(hang_3)'
              - name = 'Total Hang Level 3'
            when 'SUM(hang_4)'
              - name = 'Total Hang Level 4'
          tr
          td(class='stat')= name+': '
          td(class='stat')= total

    div(class='stats')
      - if (comp.length > 0)
        h3 Average for #{comp}!
      - else 
        h3 Average!
      table(class='statTable')
        each average,key in averages
          - var name = ''
          case key
            when 'AVG(auto_low)'
              -name = 'Average Low Goals in Auto '
            when 'AVG(auto_high)'
              - name = 'Average High Goals in Auto'
            when 'AVG(tele_op_low)'
              - name = 'Average Low Goals'
            when 'AVG(tele_op_high)'
              - name = 'Average High Goals'
            when 'AVG(hang_1)'
              - name = 'Average Level 1 Hangs'
            when 'AVG(hang_2)'
              - name = 'Average Level 2 Hangs'
            when 'AVG(hang_3)'
              - name = 'Average Level 3 Hangs'
            when 'AVG(hang_4)'
              - name = 'Average Level 4 Hangs'
          tr 
            td(class='stat')= name+': '
            td(class='stat')= average