extends layout

block content 
    h1= title
    p #{title} 
    table(class='resultsTable')
        each heading in headings
            th= heading
        each val in json
            tr
            each col, index in val 
                -if (index == 'team_number')
                    - var url = '/teams/'+col
                    td: a(href=url)= col
                -else if (index == 'match_number')
                    -var url = '/matches/'+col
                    td: a(href=url)= col
                -else 
                    td= col
                    
