extends layout

block content 
    h2= title
    div(class='ranking')
        h3 Money Ball Calculations 
        table(class='resultsTable')
            each heading in money_ball_header
                th= heading
            each val in money_ball
                tr
                each col, index in val 
                    -if (index == 'team_number')
                        - var url = '/teams/'+col
                        td: a(href=url)= col
                    -else 
                        - var number = Number(col).toPrecision(4)
                        td= number
    div(class='strengthsCloud')
        h3 High Goal Ranking 
        table(class='resultsTable')
            each heading in headers_high
                th= heading
            each val in high
                tr
                each col, index in val 
                    -if (index == 'team_number')
                        - var url = '/teams/'+col
                        td: a(href=url)= col
                    -else 
                        td= col
    div(class='strengthsCloud')
        h3 Low Goal Ranking 
        table(class='resultsTable')
            each heading in headers_low
                th= heading
            each val in low
                tr
                each col, index in val 
                    -if (index == 'team_number')
                        - var url = '/teams/'+col
                        td: a(href=url)= col
                    -else 
                        td= col
    div(class='strengthsCloud')
        h3 Hanger Ranking 
        table(class='resultsTable')
            each heading in headers_hanger
                th= heading
            each val in hang
                tr
                each col, index in val 
                    -if (index == 'team_number')
                        - var url = '/teams/'+col
                        td: a(href=url)= col
                    -else 
                        td= col