extends layout

block content 
    h2= title
    h3 Team #{team}'s average stats
    table(class='resultsTable')
        each heading in headings
            th= heading
        each val in results
            tr
            each col in val 
                td(class='result')= col
    h3 Team #{team}'s Theoretical Best Match
    table(class='resultsTable' )
        th Best Auto Low
        th Best Auto High 
        th Best TeleOp Low 
        th Best TeleOp High 
        tr 
        each entry in bestMatch[0] 
            td(class='result')=entry
    h3 Strengths and Weaknesses 
    div(class='strengthsCloud')
        ul(class='strengthsList')
            each stat,index in teamStats
                - if (index == 'team_number')
                    - 
                - else      
                    - if (stat > 60)
                        li(class='positive') + #{index}
                    - else if (stat < 20)
                        li(class='negative') - #{index}
    h3 Team #{team}'s Abilities Compared to other teams
    div(class="strengthsCloud")
        table(class='statTable')
            each stat,index in teamStats
                - if (index == 'team_number')
                    - 
                - else 
                    - var th = "th"
                    - if ((stat % 10) == 1)
                        - th = "st"
                    - else if (stat % 10 == 2)
                        - th = "nd"
                    - else if (stat % 10 == 3)
                        - th = "rd"
                    tr 
                        td(class='stat') #{index}: 
                        td(class='stat') #{stat}#{th} percentile
    h3 Comments on Team #{team}
    div(class="strengthsCloud")
        ul(class="commentList")
            each commentObj in comments
                each comment in commentObj
                    - if (comment != '')
                        li= comment 